<?xml version="1.0" encoding="UTF-8"?>
<suite name="AllTests Suite">
    <test name="AllTests">
        <classes>
            <class name="org.andersen.lab.api.demos.tests.DialogPageTest"/>
            <class name="org.andersen.lab.api.demos.tests.TextSwitcherPageTest"/>
            <class name="org.andersen.lab.api.demos.tests.ViewsPageTest"/>
        </classes>
    </test>
</suite>